html{
    overflow:scroll;
    overflow:visible;
}

body {
    font-family: Sans Pro, Arial, Helvetica, sans-serif;
    margin: 10;
}

._1ORL {
    width: 100%;
    height: 46px;
}
._1rke {
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;
    max-height: 100%;
}

.banner,
._1rke {
    height: 100%;
    display: flex;
}

.banner {
    width: 100%;
    margin: 0;
    padding: 0 11px 0 20px;
    box-sizing: border-box;
    position: relative;
    /* border-bottom: #dfdfdf solid 1px;
    border-top: #dfdfdf solid 1px; */
    align-items: center;
    background-color: #9b679c;
    background-color: rgb(56, 56, 56);
}
._2tFS {
    position: relative;
    box-sizing: border-box;
    margin: 0 3px;
    /* padding: 0 5px; */
    display: flex;
    align-items: center;
}
._1w_c {
    /* Bottons */
    border: 1px solid transparent;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;
}

._33TR {
    background-color: transparent;
    color: #535353;
    color: white;
    border-color: transparent;
}
._33TR:hover {
    background-color: transparent;
    color: #ffb805;
}

._1axH {
    /*  */
    /* height: 100%; */
    padding: 0 8px;
    margin: 0;
    display: inline-flex;
    align-items: center;
    font-size: 15;
}
._28rn {
    padding: 5px;
    margin: 0 12px;
    display: inline-flex;
    border-radius: 7px;
    align-items: center;
    font-size: 13px;
}
._27i3 {
    color: #ffb805;
    background-color: transparent;
    border-color: #ffb805;
}

._27i3:hover {
    color: white;
    background-color: #ffb805;
}

._28em {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

._2UIf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    /* padding: 0 20px; */
}
._1OQ2 {
    display: inline-flex;
    padding: 1px 5px;
    border-radius: 3px;
    align-items: center;
}
._1WrC {
    width: 480px;
    height: auto;
    padding: 20 5 20 5;
    max-width: 100%;
    min-width: 240px;
    box-sizing: border-box;
}
._2Ejx {
    background: transparent;
    border: #9b679c 2px solid;
    /* border:#ffb805 2px solid; */
    border-radius: 9px;
    padding: 0 0px;
    width: 100%;
    height: 38px;
    max-width: min(650px, 90%);
    box-shadow: 0 0 0 3px #ffb805;
    box-shadow: 0 0px 4px 2px #ffb805;
}

._2Ivn {
    box-sizing: border-box;
}
._O3dq {
    box-sizing: border-box;
    background: transparent;
    border: 0;
    font-family: WebRoboto, Hiragino Kaku Gothic ProN, ヒラギノ角ゴ ProN, Meiryo,
        メイリオ, Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-width: 100%;
    text-align: left;
    height: 38px;
    padding: 8px 5px;
}
._qWYj {
    display: flex;
    padding: 0 5 0 5;
}

.srchIcon {
    margin: 0 0 0 auto;
    align-self: center;
    display: flex;

}
.srchTxt {
    width: 100%;
    border: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.icnSvg {
    width: 20px;
    height: 20px;
    color: inherit;
}
.icnSvgX {
    width: 17px;
    height: 20px;
    padding: 0  7px 0 0;
    fill: #535353;
}
.icnSvgX:hover {
    fill: #ffb805;


}

._1cA0 {
    fill: inherit;
}
.srchBtn {
    background: transparent;
    border: transparent;
    fill: #9b679c;

}
.srchBtn:hover {
    fill: #ffb805;
}
.tfCont{
    width: 100%;
    padding: 7 5 5 5;
    max-width: 650;
}
.toFrom{
    margin: auto 0 0 0;
    /* background-color: red; */
    display: flex;
}
.tfContu{
    width: 100%;
    padding: 7 5 5 5;
    max-width: 200;
}
.toFromu{
    margin: 0 0 0 auto;
    /* background-color: red; */
    display: flex;

}
.resSheet {
    background-color: white;
    margin: 25 50 25 50;
    text-align: left;
    box-shadow: 0 0 3px grey;
    width: 100%;
    max-width: 650;
    border-radius: 8px;
}
.rangVal{
    outline: #9b679c;
    margin: 0 5;
    /* margin: 0 0 ; */
    width: 90px;
}
.resN:first-child{

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.resN:last-child{
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
.resN:hover{
    outline: 1px solid #ffb805 ;
}
.resHead{
    font-size: 17;
    display: flex;
    align-items: center;
    padding: 10 10 10 10 ;
    background-color: #9b679c;
    /* width: 100%; */
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    color: #ffffff;
}
.resVal{
    padding: 10 10 10 10;;
}
#graph{
    background-color: red;
}

.Footer{
    align-items: center;
}
.ftRow{
    /* max-width: 600px; */
    max-width: calc(min(100%,600px));
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0px auto 0px auto;
    align-items: center;
    max-height: 100%
}
.ftEl{
    display: flex;
    margin: 0px 0px 0 8px;
    align-items: center;
    padding: 5px 0 5px 0;
}

.ftEl:not(:last-child)::after{
    content:"";
    background-color: #707070;
    width: 1px;
    display: block;
    height: 15px;
    margin-left: 8px;
    
}
.ftLnk{
    color: #707070;
    text-decoration: none;
    cursor: pointer;}
.ftLnk:hover{
    color: #9b679c;
}
.smlogo{
    width: 120px;
    padding: 4 5 0 0;
    /* margin: -5 0; */
    align-self:flex-start;
    align-self:center;
}
ul.ftRow{
    padding: 0;
}
#sign{
    color: white;
}
.banner .ftRow {
    margin: 0 auto 0 0;
}
.popup{
    visibility: hidden;
    position: absolute;
    /* background-color: white; */
    width: 100%;
    height: 100%;
    position: fixed;
    /* height: 111%; */
    /* height: auto; */
    
    z-index: 99;
    background: rgba(255, 255, 255, 0.8) ;
    display: flex;
}
.show{
    visibility: visible;
}
.xpop{
    margin: 0 0 0 auto;
    width: 30px;
    height: 30px;
    fill: white;
    cursor: pointer;
}
.poptext{
margin: 0;
font-weight: bold;
}

.centered{
    background-color: white;
    margin: auto auto auto auto;
    /* line-height: 1.5; */
}
.centered li{
    /* margin-top: 5px; */
    list-style-image: url(WolframIcon2.svg);

}

.centered li::selection,b::selection,a::selection,.ftTxt::selection{
    background-color: #9b679c;
    /* background-color: #e69600; */
    /* background-color: #ffb805; */
    color: white;
}
.centered li::marker{
    font-size: 2rem;
}
.resVal ul{
    margin-top: 0;
}
/* b::selection{
    color: red;
    background-color: inherit;
} */
.fticon{
    height: 30px;
    /* height: 100px; */
    fill: white;
}
.fticon:hover{
    fill: #ffb805;
}
.contme{
    color: white;
    margin-right:7px ;
    /* padding-right:10px ; */
    display: flex;
    align-items: center;
}
.contme::after{
    content: "";
    width: 1px;
    height: 23px;
    display: block;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
}   
.ftTxt{
    text-indent: 50;
}